*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right,lightblue,blue);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
    justify-content: center;
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    background-color: rgb(155, 216, 196);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: aliceblue;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: black;
    opacity: .7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .7rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand{
    color: rgb(208, 214, 219);
    font-size: 1.5rem;
}

.output .cur-operand{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

